<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Eventdetails</title>
<link rel="stylesheet" type="text/css" href="/format.css" />
</head>
<body>
	<div class="page-wrapper">
		<header>
			<h1>M&aelig;ty</h1>
		</header>
		<div class="preamble" id="zen-preamble" role="article">
			<h3>Event</h3>
			<br>

			<table class="doFixed">
				<tr>
					<td>ID</td>
					<td th:text="*{event.id}"></td>
				</tr>
				<tr>
					<td><b>Kategorie</b></td>
					<td th:text="*{event.aktivitaet.kategorie}"></td>
				</tr>
				<tr>
					<td>Aktivität</td>
					<td><span th:text="${event.aktivitaet.bez_aktivitaet}"></span>
						<br>(empfohlen ab&nbsp;<span th:text="${event.aktivitaet.altersempfehlung}"></span>)<br>
						<span th:text="${event.aktivitaet.beschreibung}"></span></td>
				</tr>
				<tr>
					<td>Zeitpunkt</td>
					<td th:text="*{event.zeitpunkt}"></td>
				</tr>
				<tr>
					<td>Organisator</td>
					<td th:text="*{event.nutzer}"></td>
				</tr>
				<tr>
					<td>Ort</td>
					<td th:text="*{event.ort}"></td>
				</tr>
				<tr>
					<td>Beschreibung</td>
					<td th:text="*{event.beschreibung}"></td>
				</tr>
				<tr>
					<td>Teilnehmeranzahl</td>
					<td th:text="*{anzahl}"></td>
				</tr>
			</table>
			<br>
			<form name="neuer_teilnehmer"
				th:action="@{/erfolgreich_teilnahme.html}"
				th:object="${eventteilnehmer}" method="post">
				<button type="submit">Teilnehmen</button>
			</form>
			<br>
		</div>
		<footer>
			<p>
				&copy; FriendsForFun<sup>4</sup> <a
					href="mailto:s_ruhkieck@stud.hwr-berlin.de?cc=s_guhl@stud.hwr-berlin.de&amp;subject=Kontaktanfrage">Kontakt</a>
			</p>
		</footer>
		<aside class="sidebar" role="complementary">
			<div class="wrapper">
				<div class="design-selection" id="design-selection">
					<h4>Menü</h4>
					<br> <br> <br>
					<li>
						<ul>
							<a href="homepage.html" class="menue">Home</a>
						</ul> <br> <br>
						<ul>
							<a href="neues_event.html" class="menue">Neues Event</a>
						</ul> <br>
						<ul>
							<a href="neue_aktivitaet.html" class="menue">Neue Aktivität</a>
						</ul> <br>
						<ul>
							<a href="neuer_ort.html" class="menue">Neuer Eventort</a>
						</ul> <br> <br>
						<ul>
							<a href="profil.html" class="menue">Profil</a>
						</ul> <br>
						<ul>
							<a href="logout.html" class="menue">Logout</a>
						</ul> <br>
					</li>
				</div>
			</div>
		</aside>
	</div>
</body>
</html>