<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Congratulations</title>
<link rel="stylesheet" type="text/css" href="format.css" />
</head>
<body>
	<header>
		<h1>M&aelig;ty</h1>
	</header>
	<div class="page-wrapper">
		<div class="preamble" id="zen-preamble" role="article">
			<br>
			<br>
			<h3>Sie nehmen jetzt an diesem Event teil!</h3>
			<br>
			<form action="#" th:action="@{erfolgreich_teilnahme.html}" method="get"></form>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
		<footer>
			<p>
				&copy; FriendsForFun<sup>4</sup> <a
					href="mailto:s_ruhkieck@stud.hwr-berlin.de?cc=s_guhl@stud.hwr-berlin.de&amp;subject=Kontaktanfrage">Kontakt</a>
			</p>
		</footer>
		<aside class="sidebar" role="complementary">
			<div class="wrapper">
				<div class="design-selection" id="design-selection">
					<h4>Menü</h4>
					<br>
					<br>
					<br>
					<li>
						<ul>
							<a href="homepage.html" class="menue">Home</a>
						</ul> <br> <br>
						<ul>
							<a href="neues_event.html" class="menue">Neues Event</a>
						</ul> <br>
						<ul>
							<a href="neue_aktivitaet.html" class="menue">Neue Aktivität</a>
						</ul> <br>
						<ul>
							<a href="neuer_ort.html" class="menue">Neuer Eventort</a>
						</ul> <br> <br>
						<ul>
							<a href="profil.html" class="menue">Profil</a>
						</ul> <br>
						<ul>
							<a href="logout.html" class="menue">Logout</a>
						</ul> <br>
					</li>
				</div>
			</div>
		</aside>
	</div>
</body>
</html>