<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Fehler</title>
<link rel="stylesheet" type="text/css" href="format.css" />
</head>
<body>
	<div class="page-wrapper">
		<header>
			<h1>M&aelig;ty</h1>
		</header>
		<div class="preamble" id="zen-preamble" role="article">
			<h3>Anmeldung fehlgeschlagen</h3>
			<br>
			<form>
				<a href="index.html">
				<button>Zurück zum Login</button>
			</a><br>
			</form>
			<p class="kursiv_blau">Noch kein M&aelig;ty-Account?</p>
			<a href="neuer_nutzer.html">
				<button>Registrieren</button>
			</a><br>
			<h1>HTML</h1>
		</div>
		<footer>
			<p>
				&copy; FriendsForFun<sup>4</sup> <a
					href="mailto:s_ruhkieck@stud.hwr-berlin.de?cc=s_guhl@stud.hwr-berlin.de&amp;subject=Kontaktanfrage">Kontakt</a>
			</p>
		</footer>
	</div>
</body>
</html>