<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>M&aelig;ty</title>
    <link rel="stylesheet" type="text/css" href="format.css"/>
</head>
<body>
<div class="page-wrapper">
    <section class="intro" id="zen-intro">
        <header role="banner">
            <h1>M&aelig;ty</h1>
        </header>
    </section>
    <form name="suche" action="suche.xml" method="post">
        <select name="Art_Suche" class="Select_Suche">
            <option>Aktivität</option>
            <option>Kategorie</option>
            <option>Ort</option>
        </select>
        <input type="text" name="Suche" list="list" class="suche">
        <datalist id="list">
            <option value="abc">
            <option value="abc">
            <option value="abc">
            <option value="abc">
        </datalist>
        <button>Suchen</button>
    </form>
    <div class="preamble" id="zen-preamble" role="article">
        <h3>Meine Events</h3>
        <p>24. Mai 2018</p>
        <ul>
            <li class="quadrat">Volleyball in Schwerin um 11 Uhr</li>
            <li class="quadrat">Poker in Ludwigslust um 20 Uhr</li>
        </ul>
        <p>01. Juni 2018</p>
        <ul>
            <li class="quadrat">Die Zwerge in Berlin um 15 Uhr</li>
        </ul>
        <p>28. August 2018</p>
        <ul>
            <li class="quadrat">Lagerfeuer in Warnemünde um 18 Uhr</li>
        </ul>
        <p>01. Januar 2019</p>
        <ul>
            <li class="quadrat">Eishockey um 13 Uhr</li>
        </ul>
    </div>
    <footer>
        <p>&copy; FriendsForFun<sup>4</sup> <a
                href="mailto:s_ruhkieck@stud.hwr-berlin.de?cc=s_guhl@stud.hwr-berlin.de&amp;subject=Kontaktanfrage">Kontakt</a></p>
    </footer>
    <aside class="sidebar" role="complementary">
        <div class="wrapper">
            <div class="design-selection" id="design-selection">
                <h1 class="grün_sidebar">Menü</h1><br><br><br>
                <li>
                    <ul><a href="neues_event.html" class="menue">Neues Event</a></ul>
                    <br>
                    <ul><a href="neue_aktivitaet.html" class="menue">Neue Aktivität</a></ul>
                    <br>
                    <ul><a href="neuer_ort.html" class="menue">Neuer Eventort</a></ul>
                    <br>
                </li>
            </div>
        </div>
    </aside>
</div>
</body>
</html>