<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
    <link rel="stylesheet" type="text/css" href="format.css"/>
    <!--<style type="text/css">
        @import url("web.css") screen; dazu will ich mir noch was durchlesen, im Idealfall wird hier auch eine mobile Seite erzeugt
    </style>-->
</head>
<body>
<div class="page-wrapper">
    <header>
        <h1>M&aelig;ty</h1>
    </header>
    <div class="preamble" id="zen-preamble" role="article">
    	<h1>HTML</h1>
        <h3>Sie haben sich erfolgreich ausgeloggt!</h3><br>
        <h3>Wir hoffen Ihnen hat der Aufenthalt bei M&aelig;ty gefallen!</h3>
        <br>
        <br>
        <br>
        <br>
        <a href="index.html">
            <button>Login</button>
        </a><br>
    </div>
    <footer>
        <p>&copy; FriendsForFun<sup>4</sup> <a
                href="mailto:s_ruhkieck@stud.hwr-berlin.de?cc=s_guhl@stud.hwr-berlin.de&amp;subject=Kontaktanfrage">Kontakt</a>
        </p>
    </footer>
</div>
</body>
</html>