<%@ taglib uri="http://www.springframework.org/tags/form" prefix="form" %>
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Neues Event</title>
<link rel="stylesheet" type="text/css" href="/format.css" />
<script type="text/javascript" th:utext="${aktivitaetenListe}"></script>
<script type="text/javascript" src="neues_event.js"></script>
</head>
<body>
	<div class="page-wrapper">
		<header>
			<h1>M&aelig;ty</h1>
		</header>
		<div class="preamble" id="zen-preamble" role="article">
			<h3>Erstellen Sie ein neues Event!</h3>
			<br>
			<form name="neues_event" th:action="@{/neues_event.html}"
				th:object="${event}" method="post">
				Kategorie*<br> <select name="Kategorie" id="kategorie"
					th:object="${kategorien}" required
					onchange="onCategoryChange(this)">
					<option th:each="kategorie : ${kategorien}"
						th:value="${kategorie.id}" th:text="${kategorie.bez_kategorie}"></option>
				</select> <br> <br> Aktivität*<br> <select type="text"
					name="aktivitaet" th:object="${aktivitaet}" list="list" id="list" autocomplete="off"></select><br>
					<!-- wird per Javascript befüllt -->
				<br> Termin<br> <input type="datetime-local"
					class="datetime-local" th:field="*{zeitpunktHelper}" required>
					<br>
				<br> Beschreibung<br>
				<textarea name="Beschreibung_event" th:field="*{beschreibung}"
					cols="100" rows="5" maxlength="400"></textarea>
				<br> <br>
				<Button> Speichern </Button> 
				<br>
				<br>
				<p class="pflichtfeld">*Pflichtfeld</p>
				<br>
			</form>
		</div>
		<footer>
			<p>
				&copy; FriendsForFun<sup>4</sup> <a
					href="mailto:s_ruhkieck@stud.hwr-berlin.de?cc=s_guhl@stud.hwr-berlin.de&amp;subject=Kontaktanfrage">Kontakt</a>
			</p>
		</footer>
		<aside class="sidebar" role="complementary">
			<div class="wrapper">
				<div class="design-selection" id="design-selection">
					<h1 class="grün_sidebar">Menü</h1>
					<br> <br> <br>
					<li>
						<ul>
							<a href="homepage.html" class="menue">HOME</a>
						</ul> <br>
						<ul>
							<a href="neue_aktivitaet.html" class="menue">Neue Aktivität</a>
						</ul> <br>
						<ul>
							<a href="neuer_ort.html" class="menue">Neuer Eventort</a>
						</ul> <br> <br>
						<ul>
							<a href="profil.html" class="menue">Profil</a>
						</ul> <br>
						<ul>
							<a href="logout.html" class="menue">Logout</a>
						</ul> <br>
					</li>
				</div>
			</div>
		</aside>
	</div>
	<script type="text/javascript">onCategoryChange(document.getElementById('kategorie'));</script>
</body>
</html>