<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Neue Aktivität</title>
<link rel="stylesheet" type="text/css" href="format.css" />
</head>
<body>
	<div class="page-wrapper">
		<header>
			<h1>M&aelig;ty</h1>
		</header>
		<div class="preamble" id="zen-preamble" role="article">
			<h3>Erstellen Sie eine neue Aktivität!</h3>
			<br>
			<form name="neue_aktivitaet" th:action="@{/neue_aktivitaet.html}"
				th:object="${aktivitaet}" method="post">
				Bezeichnung*<br> <input type="text" name="Bez_Aktivitaet"
					th:field="*{bez_aktivitaet}" size="50" maxlength="25" required><br>
				<br> 
				Kategorie*<br> 
				<select name="Kategorie"
					th:field="*{kategorie.id}" required>
					<option th:each="kategorie : ${kategorien}"
						th:value="${kategorie.id}" th:text="${kategorie.bez_kategorie}"></option>
				</select> <br> <br> 
				Altersempfehlung<br> 
				<input type="number"
					name="Altersempfehlung" th:field="*{altersempfehlung}" size="20"
					min="16" max="99"><br> <br> 
				Minimale Personenanzahl<br> 
				<input type="number" name="Min_PersAnzahl"
					th:field="*{min_persanzahl}" size="20" min="2"><br> <br>
				Maximale Personenanzahl<br> 
				<input type="number"
					name="Max_PersAnzahl" th:field="*{max_persanzahl}" size="20"
					min="2" max="35"><br> <br> 
				Beschreibung<br>
				<textarea name="Beschreibung_aktivitaet" th:field="*{beschreibung}"
					cols="100" rows="5" maxlength="400"></textarea>
				<br> <br>
				<button>Speichern</button>
				<br>
				<p class="pflichtfeld">*Pflichtfeld</p>
				<br>
			</form>
		</div>
		<footer>
			<p>
				&copy; FriendsForFun<sup>4</sup> <a
					href="mailto:s_ruhkieck@stud.hwr-berlin.de?cc=s_guhl@stud.hwr-berlin.de&amp;subject=Kontaktanfrage">Kontakt</a>
			</p>
		</footer>
		<aside class="sidebar" role="complementary">
			<div class="wrapper">
				<div class="design-selection" id="design-selection">
					<h4>Menü</h4>
					<br> <br> <br>
					<li>
						<ul>
							<a href="homepage.html" class="menue">Home</a>
						</ul> <br> 
						<ul>
							<a href="suche.html" class="menue">Suche</a>
						</ul> <br> <br>
						<ul>
							<a href="neues_event.html" class="menue">Neues Event</a>
						</ul> <br>
						<ul>
							<a href="neuer_ort.html" class="menue">Neuer Eventort</a>
						</ul> <br> <br>
						<ul>
							<a href="profil.html" class="menue">Profil</a>
						</ul> <br>
						<ul>
							<a href="logout.html" class="menue">Logout</a>
						</ul> <br>
					</li>
				</div>
			</div>
		</aside>
	</div>
</body>
</html>