<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ihr M&aelig;ty-Konto!</title>
    <link rel="stylesheet" type="text/css" href="format.css"/>
</head>
<body>
<header>
    <h1>M&aelig;ty</h1>
</header>
<div class="page-wrapper">
    <div class="preamble" id="zen-preamble" role="article">
        <h3>Erstellen Sie Ihr M&aelig;ty-Konto!</h3><br>
        <form name="neuer_nutzer" th:action="@{/neuer_nutzer}" th:object="${nutzer}" method="post">
            Benutzername*<br>
            <input type="text" th:field="*{username}" name="Username" size="50" maxlength="25" required><br><br>
            Geschlecht*<br>
            <input type="radio" th:field="*{geschlecht}" name="Geschlecht" value="w" required>Weiblich
            <input type="radio" th:field="*{geschlecht}" name="Geschlecht" value="m">Männlich<br><br>
            Geburtsdatum*<br>
            <input type="date" th:field="*{geburtsdatum}" name="Geburtsdatum" required><br><br>
            E-Mail*<br>
            <input type="email" th:field="*{mail}" name="Mail" size="50" required><br><br>
            Passwort*<br>
            <input type="password" th:field="*{passwort}" name="Passwort" size="50" required><br><br>
            <button>Speichern</button>
            <br>
            <p class="pflichtfeld">*Pflichtfeld</p><br>
        </form>
    </div>
    <footer>
        <p>&copy; FriendsForFun<sup>4</sup> <a
                href="mailto:s_ruhkieck@stud.hwr-berlin.de?cc=s_guhl@stud.hwr-berlin.de&amp;subject=Kontaktanfrage">Kontakt</a></p>
    </footer>
</div>
</body>
</html>