<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Änderung deines Passwortes</title>
    <link rel="stylesheet" type="text/css" href="format.css"/>
    <!--<style type="text/css">
        @import url("web.css") screen; dazu will ich mir noch was durchlesen, im Idealfall wird hier auch eine mobile Seite erzeugt
    </style>-->
</head>
<body>
<div class="page-wrapper">
    <header>
        <h1>M&aelig;ty</h1>
    </header>
    <div class="preamble" id="zen-preamble" role="article">
    	<h1>HTML</h1>
        <h3>Sie haben Ihr Passwort erfolgreich geändert!</h3><br>
        <h3>Bitte loggen Sie sich bei Ihrer nächsten Anmeldung mit dem neuen Passwort ein!</h3>
        <br>
        <br>
        <br>
        <br>
    </div>
    <footer>
        <p>&copy; FriendsForFun<sup>4</sup> <a
                href="mailto:s_ruhkieck@stud.hwr-berlin.de?cc=s_guhl@stud.hwr-berlin.de&amp;subject=Kontaktanfrage">Kontakt</a>
        </p>
    </footer>
    <aside class="sidebar" role="complementary">
			<div class="wrapper">
				<div class="design-selection" id="design-selection">
					<h1 class="grün_sidebar">Menü</h1>
					<br> <br> <br>
					<li>
						<ul>
							<a href="neues_event.html" class="menue">Neues Event</a>
						</ul> <br>
						<ul>
							<a href="neue_aktivitaet.html" class="menue">Neue Aktivität</a>
						</ul> <br>
						<ul>
							<a href="neuer_ort.html" class="menue">Neuer Eventort</a>
						</ul> <br> <br>
						<ul>
							<a href="profil.html" class="menue">Profil</a>
						</ul> <br>
						<ul>
							<a href="logout.html" class="menue">Logout</a>
						</ul> <br>
					</li>
				</div>
			</div>
		</aside>
</div>
</body>
</html>