<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Ihr M&aelig;ty-Konto!</title>
<link rel="stylesheet" type="text/css" href="format.css" />
</head>
<body>
	<div class="page-wrapper">
		<section class="intro" id="zen-intro">
			<header role="banner">
				<h1>M&aelig;ty</h1>
			</header>
		</section>
		<div class="preamble" id="zen-preamble" role="article">
			<h3>Willkommen!</h3>
			<br>
			<form name="nutzer_bearbeiten" th:action="@{/profil.html}"
				method="post">
				<table>
					<tr>
						<th></th>
						<th>Aktuell</th>
						<th>Neu</th>
					</tr>
					<tr>
						<td>ID</td>
						<td th:text="${nutzer.id}"></td>
						<td></td>
					</tr>
					<tr>
						<td>Benutzername</td>
						<td th:text="${nutzer.username}"></td>
						<td><input type="text" name="user" size="30"
							maxlength="25" /></td>
					</tr>
					<tr>
						<td>Passwort</td>
						<td th:text="${nutzer.passwort}"></td>
						<td><input type="password" name="passwort" size="30"
							maxlength="25" /></td>
					</tr>
					<tr>
						<td>E-Mail</td>
						<td th:text="${nutzer.mail}"></td>
						<td><input type="email" name="mail" size="30" /></td>
					</tr>
					<tr>
						<td>Geburtsdatum</td>
						<td th:text="${nutzer.geburtsdatum}"></td>
						<td></td>
					</tr>
				</table>
				<br>
				<button>Speichern</button>
			</form>
			<h3 th:text="${myMessage}"> </h3>

		</div>
		<footer>
			<p>
				&copy; FriendsForFun<sup>4</sup> <a
					href="mailto:s_ruhkieck@stud.hwr-berlin.de?cc=s_guhl@stud.hwr-berlin.de&amp;subject=Kontaktanfrage">Kontakt</a>
			</p>
		</footer>
		<aside class="sidebar" role="complementary">
			<div class="wrapper">
				<div class="design-selection" id="design-selection">
					<h4>Menü</h4>
					<br> <br> <br>
					<li>
						<ul>
							<a href="homepage.html" class="menue">Home</a>
						</ul> <br>
						<ul>
							<a href="suche.html" class="menue">Suche</a>
						</ul> <br> <br>
						<ul>
							<a href="neues_event.html" class="menue">Neues Event</a>
						</ul> <br>
						<ul>
							<a href="neue_aktivitaet.html" class="menue">Neue Aktivität</a>
						</ul> <br>
						<ul>
							<a href="neuer_ort.html" class="menue">Neuer Eventort</a>
						</ul> <br> <br>
						<ul>
							<a href="logout.html" class="menue">Logout</a>
						</ul> <br>
					</li>
				</div>
			</div>
		</aside>
	</div>
</body>
</html>
